<div class="container-fluid py-3">
  <h1>Angular Highcharts</h1>

  <!-- <div class="row mt-5">
    <div class="col-4">
      <div class="chart-gauge" id="chart-gauge1"></div>
    </div>
    <div class="col-4">
      <div class="chart-gauge" id="chart-gauge2"></div>
    </div>
    <div class="col-4">
      <div class="chart-gauge" id="chart-gauge3"></div>
    </div>
  </div> -->

  <div class="my-container">

    <div class="chart-gauge" id="chart-gauge1"></div>

    <div class="chart-gauge" id="chart-gauge2"></div>

    <div class="chart-gauge" id="chart-gauge3"></div>

  </div>
</div>